body {
  margin: auto;
  max-width: 1000px;
  background: whitesmoke;
}
._container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
._3_digit_input {
  width: 45px;
}
._filter {
  display: flex;
  margin: 10px 0;
  align-items: flex-end;
  justify-content: space-between;
}
._underline._active {
  font-weight: 600;
  color: #090974;
}
._stocks_stat {
  ._select {
    display: flex;
    gap: 15px;
    ._variant{
      &._active{
        font-weight: 600;
        color: green;
      }
    }
    div {
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: green;
      }
    }
  }
}

table {
  width: 100%;
}

table,
tr td {
  border: 1px solid black;
}
tbody {
  display: block;
  height: 560px;
  overflow-x: auto;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
}
thead {
  width: calc(
    100% - 1em
  ); /* scrollbar is average 1em/16px width, remove it from thead width */
}
